{% extends 'base.html' %}

{% block page-header %}
    <h1>支付宝批量转账</h1>
    <div class="container-fluid">

            <div class="col-md-2">
                <label>发工资月份</label>
                <div class="input-group date form_date" id="MonthPicker" name="MonthPicker">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
    </div>

{% endblock %}

{% block page-content %}





{% endblock %}