{% extends 'base.html' %}

{% block page-header %}

{% endblock %}

{% block page-content %}
    <h1>订单上传</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ uf }}
        <input type="submit" value="上传订单" name="upload_order" class="btn btn-primary"/>
    </form>

    <h1>代理订单删除，谨慎操作！！！！</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="删除所有订单" name="delete_order" class="btn btn-primary"/>
    </form>

    <h1>代理信息上传</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ agent_file }}

        <input type="submit" value="上传代理信息" name="upload_agent" class="btn btn-primary"/>
    </form>

    <h1>代理信息表格下载</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="代理信息下载" name="download_all_agent" class="btn btn-primary"/>
    </form>

    <h1>上传统计:</h1>
    <h1>修改记录：{{ upd_unm }}</h1>
    <h1>新建记录：{{ new_unm }}</h1>
    
    <div class="well">Aplication Log</div>

{% endblock %}



